<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="CrystalVault" connectionString="data source=.\SQLSERVER;initial catalog=CrystalHill.CrystalVault;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>